.food-item{
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000018;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-image{
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.food-item-info{
  padding: 20px;
}

.food-item-name-rating{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item-name-rating p{
  font-size: 18px;
  font-weight: 500;
}

.food-item-name-rating img{
  width: 60px;
}

.food-item-description{
  font-size: 10px;
  color: rgb(65, 65, 65);
}

.food-item-price{
  font-size: 20px;
  color: tomato;
  font-weight: 500;
  margin-top: 10px;
}

.food-item-img-container{
  position: relative;
}

.add-items img{
  position: absolute;
  right: 12px;
  bottom: 16px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.food-item-counter{
  position: absolute;
  right: 12px;
  bottom: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
}

.item-counts{
  color:white;
  font-size: 18px;
  font-weight: 500;
}

.food-item-counter img{
  width: 30px;
}

